/* FontAwesome */
@import "./fontAwesome/fontawesome.scss";
@import "./fontAwesome/solid.scss";
@import "./fontAwesome/brands.scss";
/* FontAwesome */

@import "partials/fontFamily";
@import "partials/mixin";
@import "partials/reset";
@import "partials/animations";
@import "partials/navbar";
@import "partials/homeSlider";
@import "partials/dishes";
@import "partials/about";
