.about {
  @include _padding($y: 5rem);
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--bgLight);
  @include _sectionTitleStyle;
  /* .main */
  .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 5%;
    padding: 3rem 0;
    /* .figure */
    .figure {
      flex: 1 1 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        object-fit: cover;
        animation: 10s ease infinite sliderScaleAnimation;
      }
      @include _largeScreen {
        flex: 1 1 45%;
      }
    }
    /* .content */
    .content {
      flex: 1 1 40%;
      .heading {
        font-size: 2.5rem;
        color: var(--colorPrimary);
        margin: 5rem 0 3.5rem 0;
        @include _xSmallScreen {
          text-align: center;
        }
      }
      .info {
        font-size: 1.6rem;
        font-family: "Roboto", sans-serif;
        line-height: 3rem;
        text-align: justify;
        margin-bottom: 3.5rem;
      }
      .btnGroup {
        display: flex;
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 1rem 3%;
        flex-wrap: wrap;
        .btn {
          flex: 1 1 30%;
          border: none;
          outline: none;
          background: var(--bgPrimary);
          padding: 1.5rem 0;
          border-radius: 1rem;
          color: var(--colorSecondary);
          font-size: 1.6rem;
          cursor: pointer;
          transition: all 0.3s linear;
          .icon {
            color: var(--colorSecondary);
            font-size: 2.2rem;
            font-weight: 700;
            margin-right: 0.6rem;
          }
          &:hover {
            background: var(--bgSecondary);
          }
        }
        @include _xSmallScreen {
          flex-direction: column;
        }
      }
      /* btnBasic */
      .readMore {
        display: flex;
        width: 100%;
        align-items: center;
        @include _xSmallScreen {
          justify-content: center;
        }
      }
      @include _btnBasic($margin: 5rem 0 1rem 0);
      @include _xSmallScreen {
        .btnBasic {
          width: 100%;
        }
      }
      @include _largeScreen {
        flex: 1 1 45%;
      }
    }
    @include _smallScreen {
      flex-direction: column;
      align-items: center;
    }
  }

  @include _mediumScreen {
    @include _padding($y: 5rem, $x: 1rem);
  }
}
