@font-face {
  font-family: Roboto;
  src: url(../webfonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Oswald;
  src: url(../webfonts/Oswald-Light.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../webfonts/Poppins-Regular.ttf);
}
