.menus {
  @include _sectionTitleStyle;
  @include _padding($y: 5rem);
  background: var(--bgGreyLight);
  /* .main */
  .main {
    position: relative;
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    /* .menu */
    .menu {
      width: calc((100% - 6rem) / 4);
      margin: 0 2rem 2rem 0;
      overflow: hidden;
      background: var(--bgLight);
      padding: 2rem;
      position: relative;
      transition: all 0.3s linear;
      cursor: pointer;
      /* .tools */
      .tools {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 7.5rem;
        background: var(--bgPrimary);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        clip-path: inset(100% 0 0 0);
        transition: all 0.4s linear;
        .icon {
          width: 4rem;
          height: 4rem;
          line-height: 4rem;
          font-size: 2rem;
          text-align: center;
          border-radius: 50%;
          background: var(--bgLight);
          color: var(--colorBrand);
          cursor: pointer;
        }
      }
      /* .figure */
      .figure {
        position: relative;
        height: 25rem;
        .link {
          display: block;
          height: 100%;
          overflow: hidden;
          .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
      /* .more */
      .more {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 1.5rem 0;
        font-size: 1.6rem;
        .ratings {
          .icon {
            color: var(--colorBrand);
          }
        }
        .price {
          font-weight: 700;
        }
      }
      /* .name */
      .name {
        font-size: 2.4rem;
        font-weight: 700;
        color: var(--colorGrey);
        margin: 1.5rem 0;
      }
      .description {
        font: {
          family: "Roboto";
          size: 1.6rem;
          weight: 400;
        }
        color: var(--colorGrey);
        margin: 1rem 0;
        line-height: 2.2rem;
        text-align: justify;
        text-justify: distribute;
      }
      &:hover {
        .tools {
          clip-path: inset(0);
        }
        .figure .link .img {
          animation: 20s ease infinite zoomIn;
        }
        .more .ratings .price {
          color: var(--colorSecondary);
        }
        .name {
          color: var(--colorSecondary);
        }
        .description {
          color: var(--colorSecondary);
        }
        background: var(--bgPrimary);
      }
      &:nth-child(4n) {
        margin-right: 0;
      }
      @include _mediumScreen {
        width: calc((100% - 4rem) / 3);
        &:nth-child(4n) {
          margin-right: 2rem;
        }
        &:nth-child(3n) {
          margin-right: 0;
        }
      }

      @include _smallScreen {
        width: calc((100% - 2rem) / 2);
        &:nth-child(4n) {
          margin-right: 2rem;
        }
        &:nth-child(3n) {
          margin-right: 2rem;
        }
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
      @include _xSmallScreen {
        width: 100%;
        margin-right: 0;
        &:nth-child(4n) {
          margin-right: 0;
        }
        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }
  }
  @include _mediumScreen {
    @include _padding($x: 1rem, $y: 5rem);
  }
}
