@mixin bgScrollbar($lightness: 1) {
  background-color: rgba(236, 5, 91, $lightness);
}
@mixin _alignCenter {
  display: flex;
  align-items: center;
  flex-direction: row;
}
@mixin _justifyCenter {
  @include _alignCenter;
  justify-content: center;
}
@mixin _justifyRight {
  @include _alignCenter;
  justify-content: flex-end;
}

@mixin _padding($y: 0, $x: 5%) {
  padding: $y $x;
}

/* Media query Large Device  992px to 1200px */
@mixin _largeScreen {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

/* Media query Medium Device  769px to 992px */
@mixin _mediumScreen {
  @media screen and (max-width: 992px) {
    @content;
  }
}

/* Media query Small Device 577px to 768px */
@mixin _smallScreen {
  @media screen and (max-width: 768px) {
    @content;
  }
}

/* Media query Extra Small Device 351px to 576px  */
@mixin _xSmallScreen {
  @media screen and (max-width: 576px) {
    @content;
  }
}

/* Media query Double Extra Small Device 0 to 350px  */
@mixin _xxSmallScreen {
  @media screen and (max-width: 350px) {
    @content;
  }
}

@mixin _sectionTitleStyle {
  .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
      font-size: 4rem;
      text-transform: uppercase;
      font-family: "Oswald";
      letter-spacing: 3px;
      font-weight: 700;
      line-height: 5rem;
      color: var(--colorBrand);
      @include _xxSmallScreen {
        font-size: 3rem;
      }
    }
    .subTitle {
      font-size: 2rem;
      font-weight: 400;
      color: var(--colorGrey);
      margin-bottom: 1rem;
    }
  }
}

@mixin _btnBasic($margin: 4rem 0 0 0, $padding: 2rem 5rem, $width: auto) {
  .btnBasic {
    position: relative;
    display: inline-block;
    font-size: 1.6rem;
    border: none;
    outline: none;
    color: var(--colorSecondary);
    background: var(--bgGrey);
    text-align: center;
    margin: $margin;
    padding: $padding;
    width: $width;
    cursor: pointer;
    border-radius: 1rem;
    animation: 1.5s linear infinite upAndDown;
    * {
      position: relative;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: var(--bgSecondary);
      left: 0;
      top: 0;
      clip-path: inset(80% 0 0 0);
      transition: all 0.3s linear;
      border-radius: 1rem;
    }
    &:hover::before {
      clip-path: inset(0%);
    }
  }
}
