* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s linear;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
:root {
  --fontSize: 10px;
  --colorBrand: rgb(0, 150, 0);
  --colorPrimary: rgb(20, 20, 20);
  --colorSecondary: rgb(255, 255, 255);
  --colorGrey: rgb(88, 88, 88);
  --bgPrimary: rgb(230, 70, 50);
  --bgSecondary: rgb(0, 150, 0);
  --bgLight: rgb(255, 255, 255);
  --bgGrey: rgb(88, 88, 88);
  --bgGreyLight: rgb(220, 220, 220);
}
html {
  font-size: var(--fontSize);
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  scrollbar-width: thin;
}

body {
  font-size: 1.6rem;
  font-family: Oswald, Roboto, Poppins, sans-serif;
  background: var(--bgLight);
  color: var(--colorPrimary);
  min-height: 200vh;
}

.dark {
  --bgLight: rgb(80, 80, 80);
  --bgPrimary: rgb(40, 40, 40);
  --bgGreyLight: rgb(40, 40, 40);
  --colorPrimary: rgb(255, 255, 255);
  --colorGrey: rgb(235, 235, 235);
}
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px var(--bgPrimary);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  // @include bgScrollbar;
  background: var(--bgPrimary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  // @include bgScrollbar(0.6);
}
