* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s linear;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
:root {
  --fontSize: 10px;
  --colorBrand: rgb(0, 150, 0);
  --colorPrimary: rgb(20, 20, 20);
  --colorSecondary: rgb(255, 255, 255);
  --bgPrimary: rgb(236, 5, 91);
  --bgSecondary: rgb(0, 150, 0);
  --bgLight: rgb(255, 255, 255);
  --bgGrey: rgb(88, 88, 88);
}
html {
  font-size: var(--fontSize);
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  scrollbar-width: thin;
}

body {
  font-size: 1.6rem;
  font-family: Oswald, Roboto, Poppins, sans-serif;
  min-height: 200vh;
}

.dark {
  --bgLight: rgb(20, 20, 20);
  --bgPrimary: rgb(20, 20, 20);
}
